.container {
  transition: height 0.2s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(350px);
  background: #fff;
  border: 1px solid #d8d8d8;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  display: grid;
}

.containerVisible {
  composes: container;
  box-shadow: 0 0 18px -9px rgba(0,0,0,0.5);
  height: 350px;
  transform: translateY(0);
}

.containerHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 0.5rem 1rem;
}

.containerHeader h1 {
  margin: 0;
  font-size: 0.875rem;
}

.containerBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.containerFooter {
  padding: 26px;
}
