# misc
.DS_Store
*.pem

#logs
logs/
*.log

# cache
.idea
/.vscode/
.eslintcache
.npm
.swc/

# dependencies
node_modules
.pnp
.pnp.js

# directories
dist/
build/
coverage/

# Generated configs
*.tsbuildinfo

# local env files
.env

# turbo
.turbo
