.userDetailContainer {
  padding: 2rem;
}

.userContainer h1 {
  margin: 0 0 0.5rem;
}

.userContainer p {
  margin: 0;
}

.userResponse {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.userContainer a {
  color: deepskyblue;
}

.userContainer a:hover {
  text-decoration: underline;
}

.bookGrid {
  display: grid;
  gap: 1rem;
  margin-block-start: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

.bookCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 1rem;
  transition: box-shadow .2s ease-in-out;
}

.bookCard:hover {
  box-shadow: 0 1px 15px -1px rgba(0, 0, 0, 0.25);
  transition: box-shadow .2s ease-in-out;
}

.bookCard h3 {
  width: fit-content;
  margin: 0;
}

.bookCard > p {
  margin-top: 0.175rem;
  color: #6a6a6a;
}

.bookCodeBlock {
  background-color: #f8f8f8;
  padding: 0.875rem;
  font-size: 0.75rem;
}
